<p>
<%= link_to "Back_to_index", posts_path %>
</p>

<p>
<%= form_tag users_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>
<p>

<p>
</p>

<table class="table table-hover">
  <tr>
    <td><h3>Email</h3></td>
    <td><h3>NAME</h3></td>
  </tr>
  <% @users.try(:each) do |u| %>
    <tr>
      <td>
        <%= link_to u.email, user_path(u) %>
      </td>
      <td>
        <%= u.try(:first_name) %>
      </td>
      <td>
        <%= link_to "Add Friend", friendships_path(:friend_id => u), :method => :post %>
      </td>
    </tr>
  <% end %>

</table>
