<p>Category: <%= @post.category.try(:name) %><p>

<h3>View count:<%= @post.post_count %></h3>

<p>Group:
<% @post.groups.each do |g| %>
  <%= g.name %>
<% end %>
</p>
<h3>Title:</h3>
<div><%= @post.name %></div>
<h4>Context:</h4>
<div>
  <p><%=simple_format @post.description %></p>
</div>

<div id="rateYo"></div>
<!-- <button class="button" id="hello">give reviews</button> -->
<%= link_to "give reviews", post_reviews_path(@post), method: :post, remote: true, class: "button" %>

<p><div id="content"><%= @raty %></div></p>

<%= link_to "Back to homepage", posts_path %>

<h4><%= @post.try(:comment_number) %>Comments</h4>

<div class="panel-footer">
  <%= render :partial=> 'post_comments/comment' %>
</div>

</div>
<h4>Add a comment:</h4>
<%= render "post_comments/form" %>


<script>

$(function () {

  $("#rateYo").rateYo({
    starWidth: "40px",
    numStars: 5,
    halfStar: true,
    rating: <%= @raty %>
  });
});




  $(function () {

  var $rateYo = $("#rateYo").rateYo();

  $(".button").click(function () {
    /* get rating */
    var rating = $rateYo.rateYo("rating");
      var post_id =  <%= @post.id %>;
      $.ajax({
        type: 'POST',
        url: "/posts/" + post_id + "/reviews",
        dataType: 'JSON',
        data: {
          // user_id: <%= current_user %>
          rating: rating
        },
        success: function(){
          // $("#content").html("asd");
        }
      });
  });

});

</script>
